html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title URL Shortener
    style.
      * {
        box-sizing: border-box;
      }
      html {
        font: 100% sans-serif;
      }
      body {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        background: forestgreen;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        padding: 1rem;
        background: #eeeeee;
        border: 1px solid #333333;
        border-radius: 5px;
        min-width: 300px;
        max-width: 600px;
        width: 90vw;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      h1 {
        margin: 0;
      }
      input {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
      }
      input[type=url] {
        display: block;
        border-bottom: 1px dashed darkblue;
        font-size: 1em;
        margin: 1rem 0 .5rem;
        width: 100%;
        text-align: center;
      }
      input[type=submit] {
        text-transform: uppercase;
        padding: .5rem 1em;
        border-radius: 5px;
        background: blueviolet;
        color: #eeeeee;
        box-shadow: 0 1px 3px 1px #b1b1b1;
        margin: 1rem 0 0;
      }
  body
    form(method="POST")
      h1 Result
      a(href="/" + res)= "https://s.ocpu.me/" + res
